<!-- <h2>Gestión de productos</h2>
<p>Listado de productos cargado desde el módulo <strong>Productos</strong>.</p>

<h2>Productos</h2>

<ul *ngIf="productos.length>0; else sinProductos">
  <li *ngFor="let p of productos">
    {{ p.nombre }} - {{ p.precio | currency }}
    <button (click)="agregarAlCarrito(p)">Agregar al carrito</button>
  </li>
</ul>

<ng-template #sinProductos>
  <p>No hay productos disponibles.</p>
</ng-template> -->
<h2>Gestión de productos</h2>
<p>Listado cargado desde el módulo <strong>Productos</strong>.</p>

<div class="productos-container" *ngIf="productos.length > 0; else sinProductos">
  <app-producto-card
    *ngFor="let p of productos"
    [producto]="p"
    (agregar)="agregarAlCarrito($event)">
  </app-producto-card>
</div>

<ng-template #sinProductos>
  <p>No hay productos disponibles.</p>
</ng-template>
