<div class="carrito-container">
    <h2>🛒 Carrito de compras</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </thead>

        <tbody *ngIf="carrito && carrito.length > 0; else carritoVacio">
            <tr *ngFor="let item of carrito; trackBy: trackById">
                <td>{{ item.nombre }}</td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.precio | currency:'EUR' }}</td>
            </tr>
        </tbody>

        

        <ng-template #carritoVacio>
            <tbody>
                <tr>
                    <td colspan="3" class="text-center">🛍️ Tu carrito está vacío</td>
                </tr>
            </tbody>
        </ng-template>
    </table>

    <div class="carrito-total">
        <strong>Total:</strong> {{ total | currency:'EUR' }}
    </div>

    <button (click)="vaciarCarrito()">Vaciar carrito</button>
</div>