<div class="carrito-container">
    <h2>🛒 Carrito de compras</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </thead>

        <!-- cuando pasaomos a bhs[] ya no vale-->
        <!--
        <tbody *ngIf="carrito && carrito.length > 0; else carritoVacio">
            <tr *ngFor="let item of carrito; trackBy: trackById">
                <td>{{ item.nombre }}</td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.precio | currency:'EUR' }}</td>
            </tr>
        </tbody>
        -->
        <tbody>
            <tr *ngIf="(productos$ | async)?.length === 0">
                <td colspan="3">Carrito vacío</td>
            </tr>

            <tr *ngFor="let p of (productos$ | async); trackBy: trackById">
                <td>{{ p.nombre }}</td>
                <td>{{ p.cantidad }}</td>
                <td>{{ p.precio | currency:'EUR' }}</td>
            </tr>
        </tbody>

        <h3>Estado NgRx</h3>
        <ul>
            <li *ngFor="let p of (productosNgRx$ | async)">
                {{ p.nombre }} (x{{ p.cantidad }})
            </li>
        </ul>


        <ng-template #carritoVacio>
            <tbody>
                <tr>
                    <td colspan="3" class="text-center">🛍️ Tu carrito está vacío</td>
                </tr>
            </tbody>
        </ng-template>
    </table>

    <div class="carrito-total">
        <!--<strong>Total:</strong> {{ total | currency:'EUR' }}-->
        <div>Total: {{ total$ | async | currency:'EUR' }}</div>
        <p>Tienes {{ items$ | async }} productos en el carrito.</p>


    </div>

    <button (click)="vaciarCarrito()">Vaciar carrito</button>
</div>